@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}


body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #222;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  caret: inherit;
  caret: initial;
  caret: unset;
}
input{
  outline: none;
}
.border-1{
  border-width: 1px;
}